/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * locally scoped CSS for this component.
 */

.gridBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: #e62e2e;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2e8555;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #246742;
}